appdirs==1.4.4
arrow==0.17.0
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
cssselect==1.1.0
cssutils==1.0.2
distlib==0.3.1
filelock==3.0.12
idna==2.10
lxml==4.6.2
pyaml==20.4.0
json5
PyMySQL==1.0.2
PyYAML==5.3.1
requests==2.6.0
urllib3==1.26.2